<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- // SDK MercadoPago.js --}}
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <title>Tu carrito de Compras</title>
    <link rel="stylesheet" href="/styles/cart.css">
</head>
<body>
    <div class="cart-summary">
        <h1>Carrito de Compras</h1>
        <div class="cart-total">
            <p>Total del Carrito: $<span id="total">{{total}}</span></p>
            <button class="btn-buy" id="checkout-btn">Ir al checkout</button>
        </div>
        <div id="wallet_container"></div>
    </div>
    <div class="cart-container">
        {{#each products}}
        <div class="card">
            <img src="{{this.producto.image}}" alt="{{this.producto.title}}">
            <div class="card-details">
                <h2 id="product-description">{{this.producto.title}}</h2>
                <p id="unit-price">Precio: ${{this.producto.price}}</p>
                <p id="quantity">Cantidad: {{this.cantidad}}</p>
                <p>Subtotal: ${{this.subtotal}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    
    
    {{!-- script de mercado pago para hacer el cheout --}}
    <script src="/js/mercado_pago.js" type="module"></script>

</body>
</html>
