
<div>
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>description</th>
                <th>price</th>
                <th>code</th>
                <th>stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each docs}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>

            </tr>
            {{/each}}
        </tbody>
    </table>

    <div>
        <br>
        Total pages: {{totalPages}}
        <br>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Previus</a>
        {{/if}}
        <br>
        {{#if hasNextPage}}
            <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>
</div>